<!DOCTYPE html>
<html>
<head>
    <title>Leather Jacket Store</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="background: linear-gradient(135deg, #b38bc9, #7c2a98); color:purple;">

<nav class="navbar navbar-dark bg-warning">
  <div class="container">
    <a href="/" class="navbar-brand fw-bold">🧥 Jacket Store</a>
  </div>
</nav>

<div class="container mt-4">
{% block content %}{% endblock %}
</div>

</body>
</html>